In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
import src.config as config

In [3]:
from src.inference import get_feature_store

In [4]:
from datetime import datetime, timedelta
import pandas as pd  

# Get the current datetime64[us, Etc/UTC]  
current_date = pd.Timestamp.now(tz='Etc/UTC')
feature_store = get_feature_store()

# read time-series data from the feature store
fetch_data_to = current_date - timedelta(hours=1)
fetch_data_from = current_date - timedelta(days=1*29)
print(f"Fetching data from {fetch_data_from} to {fetch_data_to}")
feature_view = feature_store.get_feature_view(
    name=config.FEATURE_VIEW_NAME, version=config.FEATURE_VIEW_VERSION
)

ts_data = feature_view.get_batch_data(
    start_time=(fetch_data_from - timedelta(days=1)),
    end_time=(fetch_data_to + timedelta(days=1)),write_options={"use_spark": True}
)
ts_data = ts_data[ts_data.pickup_hour.between(fetch_data_from, fetch_data_to)]

2025-05-09 11:37:29,198 INFO: Initializing external client
2025-05-09 11:37:29,201 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-05-09 11:37:31,176 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1214627
Fetching data from 2025-04-10 15:37:29.191689+00:00 to 2025-05-09 14:37:29.191689+00:00
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (6.42s)

In [5]:
ts_data.sort_values(["pickup_location_id", "pickup_hour"]).reset_index(drop=True)

                    pickup_hour pickup_location_id  rides
0     2025-04-10 16:00:00+00:00            5187.03      0
1     2025-04-10 17:00:00+00:00            5187.03      0
2     2025-04-10 18:00:00+00:00            5187.03      0
3     2025-04-10 19:00:00+00:00            5187.03      0
4     2025-04-10 20:00:00+00:00            5187.03      0
...                         ...                ...    ...
63935 2025-05-09 10:00:00+00:00              JC116      1
63936 2025-05-09 11:00:00+00:00              JC116      2
63937 2025-05-09 12:00:00+00:00              JC116      2
63938 2025-05-09 13:00:00+00:00              JC116      1
63939 2025-05-09 14:00:00+00:00              JC116      5

[63940 rows x 3 columns]

In [6]:
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63940 entries, 0 to 65135
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pickup_hour         63940 non-null  datetime64[us, Etc/UTC]
 1   pickup_location_id  63940 non-null  object
 2   rides               63940 non-null  int32
dtypes: datetime64[us, Etc/UTC](1), int32(1), object(1)
memory usage: 1.7+ MB

In [7]:
ts_data["pickup_hour"] = ts_data["pickup_hour"].dt.tz_localize(None)

In [8]:
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63940 entries, 0 to 65135
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pickup_hour         63940 non-null  datetime64[us]
 1   pickup_location_id  63940 non-null  object
 2   rides               63940 non-null  int32
dtypes: datetime64[us](1), int32(1), object(1)
memory usage: 1.7+ MB

In [9]:
print(ts_data.shape)
print(ts_data.head())

(63940, 3)
          pickup_hour pickup_location_id  rides
0 2025-04-20 12:00:00              JC034      1
1 2025-04-15 11:00:00              JC053      0
2 2025-04-16 03:00:00              JC059      0
3 2025-04-22 11:00:00              JC059      0
4 2025-05-01 23:00:00              JC002      0

In [10]:
from src.data_utils import transform_ts_data_into_features

features = transform_ts_data_into_features(
    ts_data,
    window_size=24*28,
    step_size=23
)

In [11]:
features

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_location_id,pickup_hour
0,1,0,1,0,1,0,1,0,0,6,...,0,2,1,0,0,0,2,1,JC034,2025-04-11 09:00:00
1,0,0,1,0,0,0,0,0,0,1,...,1,0,0,1,0,2,1,0,JC053,2025-05-03 09:00:00
2,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,1,0,0,0,JC059,2025-04-19 16:00:00
3,0,1,0,11,0,0,6,0,1,4,...,1,1,0,0,0,0,1,3,JC002,2025-05-03 06:00:00
4,2,0,2,10,5,1,0,5,0,8,...,0,5,2,6,0,4,0,0,JC008,2025-05-06 11:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,1,0,0,0,1,0,5,8,0,3,...,1,1,1,0,1,0,3,0,JC074,2025-04-14 18:00:00
88,2,1,0,1,2,0,0,2,0,4,...,0,0,1,2,2,1,1,1,HB409,2025-04-29 12:00:00
89,3,0,1,1,1,2,1,0,3,0,...,7,2,1,0,1,0,0,4,HB611,2025-04-17 15:00:00
90,1,0,5,0,0,1,0,3,2,1,...,0,1,0,1,0,0,1,0,HB408,2025-04-18 10:00:00
91,0,0,2,0,0,4,0,2,0,2,...,5,2,0,1,2,2,3,2,JC014,2025-04-12 12:00:00

In [12]:
from src.inference import load_batch_of_features_from_store
current_date = pd.Timestamp.now(tz='Etc/UTC')
features = load_batch_of_features_from_store(current_date)

2025-05-09 11:37:44,699 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-05-09 11:37:44,718 INFO: Initializing external client
2025-05-09 11:37:44,720 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-05-09 11:37:46,249 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1214627
Fetching data from 2025-04-10 15:37:44.699773+00:00 to 2025-05-09 14:37:44.699773+00:00
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (4.03s)

In [13]:
current_date

Timestamp('2025-05-09 15:37:44.699773+0000', tz='Etc/UTC')

In [14]:
features

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_location_id,pickup_hour
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5187.03,2025-05-08 16:00:00
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5282.02,2025-05-08 16:00:00
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5746.14,2025-05-08 16:00:00
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6098.12,2025-05-08 16:00:00
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6322.01,2025-05-08 16:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,JC108,2025-05-08 16:00:00
88,4,7,11,6,2,3,4,0,3,2,...,2,2,1,2,2,4,4,10,JC109,2025-05-08 16:00:00
89,1,0,0,0,2,0,0,2,2,0,...,8,2,1,0,0,0,0,0,JC110,2025-05-08 16:00:00
90,8,21,25,5,3,3,4,1,0,0,...,3,2,1,8,4,6,5,9,JC115,2025-05-08 16:00:00
91,2,1,8,2,0,0,0,1,2,1,...,2,0,5,2,2,3,9,9,JC116,2025-05-08 16:00:00

In [15]:
from src.inference import load_model_from_registry

model = load_model_from_registry()

2025-05-09 11:37:56,456 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-05-09 11:37:56,469 INFO: Initializing external client
2025-05-09 11:37:56,471 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-05-09 11:37:58,129 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1214627

Downloading: 0.000%|          | 0/320763 elapsed<00:00 remaining<?

Downloading model artifact (0 dirs, 1 files)... DONE

In [16]:
from src.inference import get_model_predictions
predictions = get_model_predictions(model, features)

In [17]:
predictions

   pickup_location_id         pickup_hour  predicted_demand
0             5187.03 2025-05-08 16:00:00               0.0
1             5282.02 2025-05-08 16:00:00               0.0
2             5746.14 2025-05-08 16:00:00               0.0
3             6098.12 2025-05-08 16:00:00               0.0
4             6322.01 2025-05-08 16:00:00               0.0
..                ...                 ...               ...
87              JC108 2025-05-08 16:00:00               0.0
88              JC109 2025-05-08 16:00:00               8.0
89              JC110 2025-05-08 16:00:00               2.0
90              JC115 2025-05-08 16:00:00              14.0
91              JC116 2025-05-08 16:00:00               6.0

[92 rows x 3 columns]

In [18]:
predictions.sort_values("predicted_demand", ascending=False).head(10)["pickup_location_id"].values

array(['HB102', 'JC115', 'HB101', 'JC109', 'HB103', 'HB609', 'JC116',
       'JC066', 'HB202', 'JC009'], dtype=object)